* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border-radius: 4px;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.7);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: #5e81ac;
    color: #eceff4;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 2px;
}

#workspaces button.focused {
    background-color: #a3be8c;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #bf616a;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    color: #eceff4;
}

#custom-weather,
#network,
#memory,
#battery,
#battery.charging,
#battery.plugged {
    background-color: #5e81ac;
    color: #eceff4;
}

#custom-weather {
    min-width: 75px;
}

#pulseaudio,
#pulseaudio.muted,
#cpu,
#temperature,
#backlight {
    background-color: #81a1c1;
    color: #434c5e;
}



@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
