window {
	background-color: rgba(46, 52, 64, 0.5);
	color: rgba(46, 52, 64, 0.0);
}

button {
	background-color: rgba(46, 52, 64, 0.0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	color: #5e81ac;
	margin: 50px;
	border: none;
	transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:focus, button:active {
	background-color: #4c566a;
	outline-style: none;
}

#lock {
    background-image: image(url("./lock.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}

#shutdown {
    background-image: image(url("./shutdown.png"));
}

#reboot {
    background-image: image(url("./reboot.png"));
}
