* {
    all: unset;
    /* font-family: "JetBrainsMono"; */
    font-size: 16px;
}

#window {
    background-color: #434c5e;
    border-radius: 10px;
}

#outer-box {
    background-color: #2e3440;
    border: 4px solid #d8dee9;
    border-radius: 10px;
}

#input{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #3b4252;
}

#entry {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    /* color: #d8dee9; */
    color: #e5e9f0;
    border-radius: 8px;
}

#entry:selected {
    background-color: #3b4252;
    color: #e5e9f0;
}
